section.seo-cluster {
  padding: 0;

  .container {
    padding-left: $size-5;
    padding-right: $size-5;
  }

  .box-title {
    margin-top: $size-3/2;
    margin-bottom: $size-9;
    text-align: center;

    .title {
      font-size: 2.25rem;
    }

    p {
      padding: 0;
      margin-top: $size-4*2;
    }
  }

    .list-columns {
      
        
      /*
      column-count: 3;

        @media(max-width: 992px) {
          column-count: 2;
        }

        @media(max-width: 700px) {
          column-count: 1;
          text-align: center;
        }
      */
      
        display: flex;
        flex-wrap: wrap;
        
        li {
            width: 33.33%;
            
            .link {

                &.is-secundary {

                    display: flex;
                    align-items: center;

                    padding-top: 1.000rem;
                    padding-bottom: 0.750rem;

                    margin-top: 1.000rem;
                    margin-bottom: 1.000rem;
                    margin-left: 1.000rem;
                    margin-right: 1.000rem;

                    border-radius: $button-radius;

                    font-size: $size-2;
                    font-weight: normal;
                    color: $secundary;

                }

            }      
            
            
            @media screen and (max-width: 1008px) {
                width: 50%;
                .link {
                    &.is-secundary {
                        justify-content: center;
                    }
                }
            }

            @media screen and (min-width: 320px) and (max-width: 576px) {
                width: 100%;
            }
        }
      
    }

  .box-nearby-cities {
    background-color: $grey-lighter;
  }

  .box-find-match {
    .title {
      font-size: $size-5*3/2;
      text-align: center;
      margin-bottom: 86px;
    }

    .button {
      margin: 0 auto;
      margin-top: $size-4*3;
    }

    .fluxo {
      align-items: flex-start;
      display: flex;
      justify-content: center;

      @media(max-width: 900px) {
        flex-direction: column;
        align-items: center;
      }

      .col {
        flex: 1;
        max-width: 100%;
        width: 100%;
        text-align: center;

        &-auto {
          align-items: center;
          display: flex;
          height: 160px;
          justify-content: center;

          @media(max-width: 900px) {
            transform: rotate(90deg);
          }
        }

        .box-img {
          align-items: center;
          display: flex;
          height: 160px;
          justify-content: center;
          margin: 0 auto;

          @media(max-width: 900px) {
            height: 130px;
            width: 130px;
          }
        }

        .text {
          line-height: 1;
          margin-top: 10px;
          padding: 0;

          @media(max-width: 900px) {
            margin: 0 auto;
            max-width: 210px;
          }
        }
      }
    }
  }

  .box-aps {
    border-bottom: 1px solid $grey-light;

    &:last-of-type {
      border: none;
    }

    .title-box {
      color: $black-light;
      font-size: $size-4;
      font-weight: bold;
      text-align: center;
    }
  }
}

section.seo-cluster-2 {
  padding: 0;

  .title.is-medium {
    font-size: 2.25rem;
    text-align: center;
  }

  section.product-section {

    &:first-of-type {
      .container {
        .section-head {
          border: none;
        }
      }
    }

    .container {
      border: none;
      padding: 0;

      .section-head {
        padding: 0;
        margin-bottom: $size-6;
        margin-left: $size-4*2;
        margin-right: $size-4*2;
        border-top: 1px solid $grey-light;
        padding-top: $size-5;

        .title {
          font-size: $size-4;
          color: $black-light;
        }
      }

      .card {
        &-content {
          .content-body {
            .list {
              margin-top: $size-3;
            }
          }
        }
      }
    }
  }

  .list-columns {
    column-count: 3;

    @media(max-width: 992px) {
      column-count: 2;
    }

    @media(max-width: 700px) {
      column-count: 1;
      text-align: center;
    }

    .link {
      &.is-secundary {
        color: $blue;
        font-weight: normal;
        font-size: $size-2;
        margin-bottom: $size-3;
      }
    }
  }

  .box-nearby-cities {
    background-color: $grey-lighter;

    .box-title {
      padding-bottom: $size-9;
      padding-top: $size-3;
      text-align: center;
    }
  }

  .box-find-match {
    .title {
      font-size: $size-5*3/2;
      text-align: center;
      margin-bottom: 86px;
    }

    .button {
      margin: 0 auto;
      margin-top: $size-4*3;
    }

    .fluxo {
      align-items: flex-start;
      display: flex;
      justify-content: center;

      @media(max-width: 900px) {
        flex-direction: column;
        align-items: center;
      }

      .col {
        flex: 1;
        max-width: 100%;
        width: 100%;
        text-align: center;

        &-auto {
          align-items: center;
          display: flex;
          height: 160px;
          justify-content: center;

          @media(max-width: 900px) {
            transform: rotate(90deg);
          }
        }

        .box-img {
          align-items: center;
          display: flex;
          height: 160px;
          justify-content: center;
          margin: 0 auto;

          @media(max-width: 900px) {
            height: 130px;
            width: 130px;
          }
        }

        .text {
          line-height: 1;
          margin-top: 10px;
          padding: 0;

          @media(max-width: 900px) {
            margin: 0 auto;
            max-width: 210px;
          }
        }
      }
    }
  }
}
